# Pattern Programs(10-11-23)

# Patterns
* Patterns can be printed in python using simple for loops.
* First outer loop is used to handle the number of rows and the Inner nested loop is used to handle the number of columns. 
* Manipulating the print statements, different number patterns, alphabet patterns, or star patterns can be printed.

# 1. Square Pattern

### using loop

In [82]:
# using for loop 
r=10
for i in range(1,r+1):
    for j in range(1,r+1):
        print('*', end=' ')
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [81]:
r=10
for i in range(1,r+1):
    for j in range(1,r+1):
        print(j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

### using function

In [79]:
def square(r,char):
    for i in range(1,r+1):
        for j in range(1,r+1):
            print(char,end=' ')
        print()

In [80]:
square(10,'*')

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [77]:
def square(r,char):
    for i in range(1,r+1):
        for j in range(1,r+1):
            print(j,end=' ')
        print()

In [78]:
square(10,'*')

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

# 2. Rectangle pattern

### Using loop

In [75]:
r=5
c=10
for i in range(1,6):
    for j in range(1,11):
        print('*',end=' ')
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [74]:
r=5
c=10
for i in range(1,6):
    for j in range(1,11):
        print(j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

### using function

In [71]:
def rectangle(r,c):
    for i in range(1,r+1):
        for j in range(1,c+1):
            print('*',end=' ')
        print()

In [72]:
rectangle(5,10)

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [69]:
def rectangle(r,c):
    for i in range(1,r+1):
        for j in range(1,c+1):
            print(j,end=' ')
        print()

In [70]:
rectangle(5,10)

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

# 3. Triangle  Pattern
### using for loop

In [67]:
n=10
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

In [66]:
n=10
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print(j,end=' ')
    for j in range(i+1):
        print(j,end=' ')
    print()

                    0
                  0 0 1
                0 1 0 1 2
              0 1 2 0 1 2 3
            0 1 2 3 0 1 2 3 4
          0 1 2 3 4 0 1 2 3 4 5
        0 1 2 3 4 5 0 1 2 3 4 5 6
      0 1 2 3 4 5 6 0 1 2 3 4 5 6 7
    0 1 2 3 4 5 6 7 0 1 2 3 4 5 6 7 8
  0 1 2 3 4 5 6 7 8 0 1 2 3 4 5 6 7 8 9

### using function

In [64]:
def triangle(r):
    for i in range(0,n):
        for j in range(0,n-i):
            print(end=' ')
        for j in range(0,2*i+1):
            print('*',end=' ')
        print()

In [65]:
triangle(10)

          *
         * * *
        * * * * *
       * * * * * * *
      * * * * * * * * *
     * * * * * * * * * * *
    * * * * * * * * * * * * *
   * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * *

In [62]:
def triangle(r):
    for i in range(0,n):
        for j in range(0,n-i-1):
            print(end=' ')
        for j in range(0,2*i+1):
            print(j,end=' ')
        print()

In [63]:
triangle(10)

         0
        0 1 2
       0 1 2 3 4
      0 1 2 3 4 5 6
     0 1 2 3 4 5 6 7 8
    0 1 2 3 4 5 6 7 8 9 10
   0 1 2 3 4 5 6 7 8 9 10 11 12
  0 1 2 3 4 5 6 7 8 9 10 11 12 13 14
 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18

# 4. Right Angled Triangle Pattern(hypotheneous right side)
### using for loop

In [60]:
r=10
for i in range(1,r+1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [59]:
r=10
for i in range(1,r+1):
    for j in range(i):
        print(j, end=' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [58]:
# reverse right angled triangle using loop
r=10
for i in range(10,0,-1):
    for j in range(i):
        print('*', end=' ')
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [57]:
r=10
for i in range(10,0,-1):
    for j in range(i):
        print(j, end=' ')
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

### right angle triangle using function

In [91]:
def righthyp(r,c):
    for i in range(1,r+1):
        for j in range(i):
            print(c,end=' ')
        print()

In [55]:
righthyp(10,'*')

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [52]:
def righthyp(r,c):
    for i in range(1,r+1):
        for j in range(i):
            print(j,end=' ')
        print()

In [53]:
righthyp(10,'*')

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [54]:
# reverse right angle triangle using function

In [97]:
def revrythyp(r,c):
    for i in range(10,0,-1):
        for j in range(i):
            print(c,end=' ')
        print()

In [50]:
revrythyp(10,'*')

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [48]:
def revrythyp(r,c):
    for i in range(10,0,-1):
        for j in range(i):
            print(j,end=' ')
        print()

In [49]:
revrythyp(10,'*')

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

# 5. Right Angle Triangle Pattern( hypotheneous on left side)

### using loop

In [43]:
n=10
for i in range(1,r+1):
    for j in range(r,i,-1):
        print(' ',end=' ')
    for j in range(1,i+1):
        print('*',end=' ')
    print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [42]:
n=10
for i in range(1,r+1):
    for j in range(r,i,-1):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

                  1
                1 2
              1 2 3
            1 2 3 4
          1 2 3 4 5
        1 2 3 4 5 6
      1 2 3 4 5 6 7
    1 2 3 4 5 6 7 8
  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

### using function

In [40]:
def lefthyp(r):
    for i in range(1,r+1):
        for j in range(r,i,-1):
            print(" ", end="")
        for k in range(1,i + 1):
            print("*", end="")
        print()

In [41]:
lefthyp(10)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [37]:
def lefthyp(r):
    for i in range(1,r+1):
        for j in range(r,i,-1):
            print(" ", end="")
        for k in range(1,i + 1):
            print(j, end="")
        print()

In [38]:
lefthyp(10)

         2
        33
       444
      5555
     66666
    777777
   8888888
  99999999
 101010101010101010
10101010101010101010

# 6. Pyramid Pattern

### using  for loop

In [36]:
rows=10
for i in range(1, rows + 1):
        for j in range(rows - i):
            print(" ", end="")
        for j in range(2 * i - 1):
            print("*", end="")
        print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [35]:
rows=10
for i in range(1, rows + 1):
        for j in range(rows - i):
            print(" ", end="")
        for j in range(2 * i - 1):
            print(j, end="")
        print()

         0
        012
       01234
      0123456
     012345678
    012345678910
   0123456789101112
  01234567891011121314
 012345678910111213141516
0123456789101112131415161718

### using function

In [33]:
def pyramid(r):
    for i in range(0,r):
        for j in range(0,r-i-1):
            print(" ", end="")
        for k in range(0,2*i+1):
            print("*", end="")
        print()

In [34]:
pyramid(10)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [31]:
def pyramid(r):
    for i in range(0,r):
        for j in range(0,r-i-1):
            print(" ", end="")
        for k in range(0,2*i+1):
            print(j, end="")
        print()

In [32]:
pyramid(10)

         8
        777
       66666
      5555555
     444444444
    33333333333
   2222222222222
  111111111111111
 00000000000000000
0000000000000000000

# 7. Inverted Pyramid Pattern

### Using For Loop

In [29]:
r=10
for i in range(r, 0, -1):
    for j in range(0, r - i):
        print(end = ' ') 
    for j in range(0, i):
        print('*', end = ' ')
    print()

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [23]:
r=10
for i in range(r, 0, -1):
    for j in range(0, r - i):
        print(end = ' ') 
    for j in range(0, i):
        print(j, end = ' ')
    print()

0 1 2 3 4 5 6 7 8 9
 0 1 2 3 4 5 6 7 8
  0 1 2 3 4 5 6 7
   0 1 2 3 4 5 6
    0 1 2 3 4 5
     0 1 2 3 4
      0 1 2 3
       0 1 2
        0 1
         0

### Using Function

In [25]:
def inverpyramid(r):
    for i in range(r, 0, -1):
        for j in range(0, r - i):
            print(end = ' ') 
        for j in range(0, i):
            print('*', end = ' ')
        print()

In [26]:
inverpyramid(10)

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [27]:
def inverpyramid(r):
    for i in range(r, 0, -1):
        for j in range(0, r - i):
            print(end = ' ') 
        for j in range(0, i):
            print(j, end = ' ')
        print()

In [28]:
inverpyramid(10)

0 1 2 3 4 5 6 7 8 9
 0 1 2 3 4 5 6 7 8
  0 1 2 3 4 5 6 7
   0 1 2 3 4 5 6
    0 1 2 3 4 5
     0 1 2 3 4
      0 1 2 3
       0 1 2
        0 1
         0

# 8. Rhombus Pattern

### Using For Loop

In [21]:
r=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()
for i in range(n,-1,-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
        * * * * * * * * * * * * *
          * * * * * * * * * * *
            * * * * * * * * *
              * * * * * * *
                * * * * *
                  * * *
                    *

In [22]:
r=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print(j,end=' ')
    for j in range(i+1):
        print(j,end=' ')
    print()
for i in range(n,-1,-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print(j,end=' ')
    for j in range(i+1):
        print(j,end=' ')
    print()

                    0
                  0 0 1
                0 1 0 1 2
              0 1 2 0 1 2 3
            0 1 2 3 0 1 2 3 4
          0 1 2 3 4 0 1 2 3 4 5
        0 1 2 3 4 5 0 1 2 3 4 5 6
      0 1 2 3 4 5 6 0 1 2 3 4 5 6 7
    0 1 2 3 4 5 6 7 0 1 2 3 4 5 6 7 8
  0 1 2 3 4 5 6 7 8 0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 10
  0 1 2 3 4 5 6 7 8 0 1 2 3 4 5 6 7 8 9
    0 1 2 3 4 5 6 7 0 1 2 3 4 5 6 7 8
      0 1 2 3 4 5 6 0 1 2 3 4 5 6 7
        0 1 2 3 4 5 0 1 2 3 4 5 6
          0 1 2 3 4 0 1 2 3 4 5
            0 1 2 3 0 1 2 3 4
              0 1 2 0 1 2 3
                0 1 0 1 2
                  0 0 1
                    0

### Using Function

In [15]:
def rhombus(n):
    for i in range(n):
        for j in range(i,n):
            print(' ',end=' ')
        for j in range(i):
            print('*',end=' ')
        for j in range(i+1):
            print('*',end=' ')
        print()
    for i in range(n,-1,-1):
        for j in range(i,n):
            print(' ',end=' ')
        for j in range(i):
            print('*',end=' ')
        for j in range(i+1):
            print('*',end=' ')
        print()

In [17]:
rhombus(10)

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
        * * * * * * * * * * * * *
          * * * * * * * * * * *
            * * * * * * * * *
              * * * * * * *
                * * * * *
                  * * *
                    *

In [18]:
def rhombus(n):
    for i in range(n):
        for j in range(i,n):
            print(' ',end=' ')
        for j in range(i):
            print(j,end=' ')
        for j in range(i+1):
            print(j,end=' ')
        print()
    for i in range(n,-1,-1):
        for j in range(i,n):
            print(' ',end=' ')
        for j in range(i):
            print(j,end=' ')
        for j in range(i+1):
            print(j,end=' ')
        print()

In [20]:
rhombus(10)

                    0
                  0 0 1
                0 1 0 1 2
              0 1 2 0 1 2 3
            0 1 2 3 0 1 2 3 4
          0 1 2 3 4 0 1 2 3 4 5
        0 1 2 3 4 5 0 1 2 3 4 5 6
      0 1 2 3 4 5 6 0 1 2 3 4 5 6 7
    0 1 2 3 4 5 6 7 0 1 2 3 4 5 6 7 8
  0 1 2 3 4 5 6 7 8 0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 10
  0 1 2 3 4 5 6 7 8 0 1 2 3 4 5 6 7 8 9
    0 1 2 3 4 5 6 7 0 1 2 3 4 5 6 7 8
      0 1 2 3 4 5 6 0 1 2 3 4 5 6 7
        0 1 2 3 4 5 0 1 2 3 4 5 6
          0 1 2 3 4 0 1 2 3 4 5
            0 1 2 3 0 1 2 3 4
              0 1 2 0 1 2 3
                0 1 0 1 2
                  0 0 1
                    0

# 9. Sand Glass Pattern

### Using For Loop

In [5]:
n=10
for i in range(n-1,-1,-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

  * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
        * * * * * * * * * * * * *
          * * * * * * * * * * *
            * * * * * * * * *
              * * * * * * *
                * * * * *
                  * * *
                    *
                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

In [6]:
h=10
for i in range(n-1,-1,-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print(j,end=' ')
    for j in range(i+1):
        print(j,end=' ')
    print()
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print(j,end=' ')
    for j in range(i+1):
        print(j,end=' ')
    print()

  0 1 2 3 4 5 6 7 8 0 1 2 3 4 5 6 7 8 9
    0 1 2 3 4 5 6 7 0 1 2 3 4 5 6 7 8
      0 1 2 3 4 5 6 0 1 2 3 4 5 6 7
        0 1 2 3 4 5 0 1 2 3 4 5 6
          0 1 2 3 4 0 1 2 3 4 5
            0 1 2 3 0 1 2 3 4
              0 1 2 0 1 2 3
                0 1 0 1 2
                  0 0 1
                    0
                    0
                  0 0 1
                0 1 0 1 2
              0 1 2 0 1 2 3
            0 1 2 3 0 1 2 3 4
          0 1 2 3 4 0 1 2 3 4 5
        0 1 2 3 4 5 0 1 2 3 4 5 6
      0 1 2 3 4 5 6 0 1 2 3 4 5 6 7
    0 1 2 3 4 5 6 7 0 1 2 3 4 5 6 7 8
  0 1 2 3 4 5 6 7 8 0 1 2 3 4 5 6 7 8 9

### Using Function

In [7]:
def sandglass(h):
    for i in range(n-1,-1,-1):
        for j in range(i,n):
            print(' ',end=' ')
        for j in range(i):
            print(j,end=' ')
        for j in range(i+1):
            print(j,end=' ')
        print()
    for i in range(n):
        for j in range(i,n):
            print(' ',end=' ')
        for j in range(i):
            print(j,end=' ')
        for j in range(i+1):
            print(j,end=' ')
        print()

In [8]:
sandglass(10)

  0 1 2 3 4 5 6 7 8 0 1 2 3 4 5 6 7 8 9
    0 1 2 3 4 5 6 7 0 1 2 3 4 5 6 7 8
      0 1 2 3 4 5 6 0 1 2 3 4 5 6 7
        0 1 2 3 4 5 0 1 2 3 4 5 6
          0 1 2 3 4 0 1 2 3 4 5
            0 1 2 3 0 1 2 3 4
              0 1 2 0 1 2 3
                0 1 0 1 2
                  0 0 1
                    0
                    0
                  0 0 1
                0 1 0 1 2
              0 1 2 0 1 2 3
            0 1 2 3 0 1 2 3 4
          0 1 2 3 4 0 1 2 3 4 5
        0 1 2 3 4 5 0 1 2 3 4 5 6
      0 1 2 3 4 5 6 0 1 2 3 4 5 6 7
    0 1 2 3 4 5 6 7 0 1 2 3 4 5 6 7 8
  0 1 2 3 4 5 6 7 8 0 1 2 3 4 5 6 7 8 9

In [13]:
def sandglass(n):
    for i in range(n-1,-1,-1):
        for j in range(i,n):
            print(' ',end=' ')
        for j in range(i):
            print('*',end=' ')
        for j in range(i+1):
            print('*',end=' ')
        print()
    for i in range(n):
        for j in range(i,n):
            print(' ',end=' ')
        for j in range(i):
            print('*',end=' ')
        for j in range(i+1):
            print('*',end=' ')
        print()

In [14]:
sandglass(10)

  * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
        * * * * * * * * * * * * *
          * * * * * * * * * * *
            * * * * * * * * *
              * * * * * * *
                * * * * *
                  * * *
                    *
                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

# 10. M-Pattern

### Using  For Loop

In [240]:
h=10
w =(2 * h - 1)
for i in range(h):
    print('$' * (2 * i + 1) + " " * (w - 2 * (i + 1)) + '$' * (2 * i + 1))
print()

$                 $
$$$               $$$
$$$$$             $$$$$
$$$$$$$           $$$$$$$
$$$$$$$$$         $$$$$$$$$
$$$$$$$$$$$       $$$$$$$$$$$
$$$$$$$$$$$$$     $$$$$$$$$$$$$
$$$$$$$$$$$$$$$   $$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$ $$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [241]:
h=10
w = 2 * h - 1
for i in range(h):
        print(" " * i + " ".join(str(j) for j in range(1, 2 * i + 2)) + " " * (w - 2 * (i + 1)) + " ".join(str(j) for j in range(2 * i + 1, 0, -1)))
print()

1                 1
 1 2 3               3 2 1
  1 2 3 4 5             5 4 3 2 1
   1 2 3 4 5 6 7           7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 9         9 8 7 6 5 4 3 2 1
     1 2 3 4 5 6 7 8 9 10 11       11 10 9 8 7 6 5 4 3 2 1
      1 2 3 4 5 6 7 8 9 10 11 12 13     13 12 11 10 9 8 7 6 5 4 3 2 1
       1 2 3 4 5 6 7 8 9 10 11 12 13 14 15   15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
        1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
         1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1919 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

### Using Function

In [236]:
def print_m_pattern(h, char):
    w =(2 * h - 1)
    for i in range(h):
        print('$' * (2 * i + 1) + " " * (w - 2 * (i + 1)) + '$' * (2 * i + 1))
    print()

In [239]:
print_m_pattern(10,'$')

$                 $
$$$               $$$
$$$$$             $$$$$
$$$$$$$           $$$$$$$
$$$$$$$$$         $$$$$$$$$
$$$$$$$$$$$       $$$$$$$$$$$
$$$$$$$$$$$$$     $$$$$$$$$$$$$
$$$$$$$$$$$$$$$   $$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$ $$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

In [231]:
def mpatern(h,char):
    w = 2 * h - 1
    for i in range(h):
        print(" " * i + " ".join(str(j) for j in range(1, 2 * i + 2)) + " " * (w - 2 * (i + 1)) + " ".join(str(j) for j in range(2 * i + 1, 0, -1)))
    print()

In [232]:
mpatern(10,'$')

1                 1
 1 2 3               3 2 1
  1 2 3 4 5             5 4 3 2 1
   1 2 3 4 5 6 7           7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 9         9 8 7 6 5 4 3 2 1
     1 2 3 4 5 6 7 8 9 10 11       11 10 9 8 7 6 5 4 3 2 1
      1 2 3 4 5 6 7 8 9 10 11 12 13     13 12 11 10 9 8 7 6 5 4 3 2 1
       1 2 3 4 5 6 7 8 9 10 11 12 13 14 15   15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
        1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
         1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1919 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

# 11. Star Pattern

### Using For Loop

In [265]:
rows=10
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=' ')
    print()
for i in range(rows - 1, 0, -1):
    for j in range(1, i + 1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [266]:
rows=10
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()
for i in range(rows - 1, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

### Using Function

In [261]:
def starpattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print("*", end=' ')
        print()
    for i in range(rows - 1, 0, -1):
        for j in range(1, i + 1):
            print("*", end=' ')
        print()

In [262]:
starpattern(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [267]:
def starpattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print(j, end=' ')
        print()
    for i in range(rows - 1, 0, -1):
        for j in range(1, i + 1):
            print(j, end=' ')
        print()

In [268]:
starpattern(10)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1